/tmp
/release
/coverage*.txt
/apidocs/*.html
**/.idea
**/.vscode
**/node_modules
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/*.test
**/*.out
**/*.pem
**/*.log
**/log
**/logs
**/tmp
**/temp
**/test